- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  Absorb candidates for the List
  = succeed ':' do
    = "##{list.id}"
  &= list.title

- candidates.each do |c|
  %p
    From
    %a{ href: iri.cut('/recipient').add(id: c[:from].id) }= c[:from].email
    to
    %a{ href: iri.cut('/recipient').add(id: c[:to].id) }= c[:to].email
