- # (The MIT License)
- # 
- # Copyright (c) 2018-2025 Yegor Bugayenko
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

%h2
  Add recipient to the list
  = succeed ':' do
    = "##{list.id}"
  = list.title

%p
  %a.item{ onclick: '$("#upload").show();' } Upload CSV

%form{ method: 'POST', action: iri.cut('/do-add') }
  %input{ type: 'hidden', name: 'id', value: list.id }
  %input{ type: 'text', name: 'email', placeholder: 'Email', size: 20, required: 'true', autocomplete: 'off', autofocus: 'true', tabindex: 1 }
  %input{ type: 'text', name: 'first', placeholder: 'First name', size: 14, autocomplete: 'off', tabindex: 2 }
  %input{ type: 'text', name: 'last', placeholder: 'Last name', size: 16, autocomplete: 'off', tabindex: 3 }
  %input{ type: 'submit', value: 'Add', tabindex: 4 }

%form.hidden{ method: 'POST', action: iri.cut('/upload-recipients'), id: 'upload', enctype: 'multipart/form-data' }
  %input{ type: 'hidden', name: 'id', value: list.id }
  %input{ type: 'hidden', name: 'source', value: "@#{current_user}" }
  %input{ type: 'hidden', name: 'redirect', value: "/add?list=#{list.id}" }
  %input{ name: 'file', type: 'file', accept: 'text/plain' }
  %input{ type: 'submit', value: 'Upload' }
  %br
  %label.small.gray
    Make sure it's a headerless CSV file,
    with an email in the first column,
    first name in the second,
    and the last name in the third one.
%p
  There are
  = list.recipients.count
  recipient(s) in the list already.
  You submitted
  = list.recipients.count_by_source("@#{current_user}")
  of them.
  This is your
  %a{ href: iri.cut('/weeks').add(id: list.id) } weekly contribution
  summary.

%p
  You can
  %a{ href: iri.cut('/download-list').add(list: list.id) } download
  your part of the list in CSV format.

%p
  The list is owned by
  = succeed '.' do
    = "@#{list.owner}"
