%h2
  Add recipient to the list
  = succeed ':' do
    = "##{list.id}"
  = list.title

%form{method: 'POST', action: '/do-add'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: list.id}
    %input{type: 'text', name: 'email', placeholder: 'Email', size: 20, required: 'true', autocomplete: 'off'}
    %input{type: 'text', name: 'first', placeholder: 'First name', size: 14, autocomplete: 'off'}
    %input{type: 'text', name: 'last', placeholder: 'Last name', size: 16, autocomplete: 'off'}
    %input{type: 'submit', value: 'Add'}

%p
  There are
  = list.recipients.count
  recipient(s) in the list already.

