%h2
  Add recipient to the list
  = succeed ':' do
    = "##{list.id}"
  = list.title

%form{method: 'POST', action: '/do-add'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: list.id}
    %input{type: 'text', name: 'email', placeholder: 'Email', size: 34, required: 'true', autocomplete: 'off'}
    %input{type: 'text', name: 'first', placeholder: 'First name', size: 24, autocomplete: 'off'}
    %input{type: 'text', name: 'last', placeholder: 'Last name', size: 28, autocomplete: 'off'}
    %input{type: 'submit', value: 'Add'}

%p
  There are
  = list.recipients.count
  recipient(s) in the list already.
  You submitted
  = list.recipients.count_by_source("@#{current_user}")
  of them.

%p
  You can
  %a{href: "/download-list?list=#{list.id}"} download
  your part of the list in CSV format.

%p
  The list is owned by
  = succeed '.' do
    = "@#{list.owner}"
