-# SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Already subscribed!

%p
  Your email
  %code
    = recipient.email
  is already in the list
  = succeed '.' do
    = "##{list.id}"

- if redirect
  %p
    Click
    %a{ href: redirect } here
    to get back to where you came from.

%p
  If you want to unsubscribe,
  = succeed '.' do
    %a{ href: iri.cut('/unsubscribe').add(token: token) } click here
