- # (The MIT License)
- # 
- # Copyright (c) 2018-2025 Yegor Bugayenko
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

%h2
  Campaigns

%p
  %a.item{ onclick: '$("#add").show();$("#title").focus();' }
    Start a Campaign

- if lists.count.zero?
  %p.red
    You have no lists, can't have any campaigns.
- elsif lanes.count.zero?
  %p.red
    You have no lanes, can't have any campaigns.
- else
  %form.hidden{ method: 'POST', action: iri.cut('/add-campaign'), id: 'add' }
    %fieldset
      %label Start a new campaign
      %input{ type: 'text', name: 'title', id: 'title', placeholder: 'Campaign title...', size: 45, required: 'true', autocomplete: 'off' }
      %label List:
      %select{ name: 'list' }
        - lists.all.each do |list|
          %option{ value: list.id }= "##{list.id}: #{list.title}"
      %label Lane:
      %select{ name: 'lane' }
        - lanes.all.each do |lane|
          %option{ value: lane.id }= "##{lane.id}: #{lane.title}"
      %input{ type: 'submit', value: 'Add' }

%p
  All your campaigns:

- campaigns.all.each do |c|
  %p{ class: ('cross' unless c.active?) }
    = succeed ':' do
      %a{ href: iri.cut('/campaign').add(id: c.id) }= "##{c.id}"
    = succeed ';' do
      &= c.title
    = succeed ':' do
      %a{ href: iri.cut('/lane').add(id: c.lane.id) }= "Lane ##{c.lane.id}"
    &= c.lane.title
    - if c.exhausted?
      %span.red exhausted
    %br
    %span.small{ style: 'display:inline-block' }
      - c.lists.each do |list|
        %a{ href: iri.cut('/list').add(id: list.id) }= "List ##{list.id}"
        = succeed ';' do
          &= list.title
