%h2
  Campaigns

%p
  %a.item{onclick: '$("#add").show();'}
    Start

- if lists.count.zero?
  %p.red
    You have no lists, can't have any campaigns.
- elsif lanes.count.zero?
  %p.red
    You have no lanes, can't have any campaigns.
- else
  %form.hidden{method: 'POST', action: '/add-campaign', id: 'add'}
    %fieldset
      %label Start a new campaign
      %input{type: 'text', name: 'title', placeholder: 'Campaign title...', size: 45, required: 'true', autocomplete: 'off'}
      %label List:
      %select{name: 'list'}
        - lists.all.each do |list|
          %option{value: list.id}= "##{list.id}: #{list.title}"
      %label Lane:
      %select{name: 'lane'}
        - lanes.all.each do |lane|
          %option{value: lane.id}= "##{lane.id}: #{lane.title}"
      %input{type: 'submit', value: 'Add'}

%p
  All your campaigns:

- campaigns.all.each do |c|
  %p{class: ('cross' unless c.active?)}
    = succeed ':' do
      %a{href: url("/campaign?id=#{c.id}")}= "##{c.id}"
    = succeed ';' do
      = c.title
    = succeed ':' do
      %a{href: url("/list?id=#{c.list.id}")}= "List ##{c.list.id}"
    = succeed ';' do
      = c.list.title
    = succeed ':' do
      %a{href: url("/lane?id=#{c.lane.id}")}= "Lane ##{c.lane.id}"
    = c.lane.title
