%h2
  Campaign
  = succeed ':' do
    = "##{campaign.id}"
  = campaign.title

%p
  %a.item{onclick: '$("#save").show();'}
    Edit YAML

%p
  - list = campaign.list
  = succeed ':' do
    %a{href: "/list?id=#{list.id}"}= "List ##{list.id}"
  = succeed ';' do
    = "\"#{list.title}\""
  - lane = campaign.lane
  = succeed ':' do
    %a{href: "/lane?id=#{lane.id}"}= "Lane ##{lane.id}"
  = "\"#{lane.title}\""

%p
  It is
  %strong
    - if campaign.active?
      %span.green active
    - else
      %span.red not active
  = '/'
  %a{href: "/toggle-campaign?id=#{campaign.id}"}
    - if campaign.active?
      deactivate
    - else
      activate

%form.hidden{method: 'POST', action: '/save-campaign', id: 'save'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: campaign.id}
    %label
      %a{href: 'https://github.com/yegor256/mailanes#campaign'} YAML
      config:
    %textarea{name: 'yaml', style: 'width:100%;height:8em;', required: 'true'}= campaign.yaml.to_yaml
    %input{type: 'submit', value: 'Save'}

- report = campaign.report
- if report.empty?
  %p
    No delivery reports as of yet.
- else
  - report.each do |r|
    %p
      = succeed ':' do
        %a{href: "/delivery?id=#{r[:delivery].id}"}= "##{r[:delivery].id}"
      = r[:text]
