%h2
  Delivery
  = succeed ':' do
    = "##{delivery.id}"

%p
  - recipient = delivery.recipient
  = succeed ':' do
    %a{href: "/recipient?id=#{recipient.id}"}= "Recipient ##{recipient.id}"
  = "#{recipient.email}"

%p
  - letter = delivery.letter
  = succeed ':' do
    %a{href: "/letter?id=#{letter.id}"}= "Letter ##{letter.id}"
  = "\"#{letter.title}\""

%p
  - campaign = delivery.campaign
  = succeed ':' do
    %a{href: "/campaign?id=#{campaign.id}"}= "Campaign ##{campaign.id}"
  = "\"#{campaign.title}\""

%p
  Opened:
  - if delivery.opened.empty?
    Not yet :(
  - else
    &= delivery.opened

%p
  &= delivery.details

%p
  %a.red{href: "/delete-delivery?id=#{delivery.id}", onclick: "return confirm('Are you sure?');"} Delete
