%h2
  Delivery
  = succeed ':' do
    = "##{delivery.id}"

%p
  - recipient = delivery.recipient
  = succeed ':' do
    %a{href: iri.cut('/recipient').add(id: recipient.id)}= "Recipient ##{recipient.id}"
  = "#{recipient.email}"

- if delivery.letter?
  %p
    - letter = delivery.letter
    = succeed ':' do
      %a{href: iri.cut('/letter').add(id: letter.id)}= "Letter ##{letter.id}"
    = "\"#{letter.title}\""

- if delivery.campaign?
  %p
    - campaign = delivery.campaign
    = succeed ':' do
      %a{href: iri.cut('/campaign').add(id: campaign.id)}= "Campaign ##{campaign.id}"
    = "\"#{campaign.title}\""

%p
  Opened:
  - if delivery.opened.empty?
    Not yet :(
  - else
    &= delivery.opened

%p
  Bounced:
  - if delivery.bounced?
    Nope
  - else
    Yes

%p
  &= delivery.details

%p
  %a.red{href: iri.cut('/delete-delivery').add(id: delivery.id), onclick: "return confirm('Are you sure?');"} Delete
