%p
  First, you keep your recipients in
  = succeed '.' do
    %a{href: '/lists'} Lists
  Each list contains
  a collection of unique emails, which will receive your marketing emails.
  Then, you create Letters in
  = succeed '.' do
    %a{href: '/lanes'} Lanes
  Then, you link your
  %a{href: '/lists'} Lists
  with Lanes, by
  = succeed '.' do
    %a{href: '/campaigns'} Campaigns
  Finally, you make your Letters and Campaigns
  active and they start sending emails.

%p
  More information about configuration options you can find in
  = succeed '.' do
    %a{href: 'https://github.com/yegor256/mailanes/blob/master/README.md'} README

%p
  Total recipients in all lists:
  = succeed '.' do
    %a{href: '/lists'}= lists.total_recipients
