%h2
  = succeed ':' do
    = "##{lane.id}"
  = lane.title

%form{method: 'POST', action: '/save-lane'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: lane.id}
    %label YAML config:
    %textarea{name: 'yaml', style: 'width:100%;height:12em;', required: 'true'}= lane.yaml.to_yaml
    %input{type: 'submit', value: 'Save'}

%form{method: 'POST', action: '/add-letter'}
  %input{type: 'hidden', name: 'id', value: lane.id}
  %input{type: 'text', name: 'title', placeholder: 'Letter title', size: 40, required: 'true', autocomplete: 'off'}
  %input{type: 'submit', value: 'Add Letter'}

%p
  There are
  = lane.letters.count
  letter(s):

- lane.letters.all.each do |r|
  %p{style: r.active? ? '' : 'text-decoration:line-through'}
    %a{href: "/letter?id=#{r.id}"}= "##{r.id}"
    = r.title

