%h2
  Lane
  = succeed ':' do
    = "##{lane.id}"
  &= lane.title

%p
  %a.item{onclick: '$("#save").show();$("#yaml").focus();'}
    Edit YAML
  %a.item{onclick: '$("#add").show();$("#title").focus();'}
    Add letter

%form.hidden{method: 'POST', action: '/save-lane', id: 'save'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: lane.id}
    %label
      %a{href: 'https://github.com/yegor256/mailanes#lane'} YAML
      config:
    %textarea{name: 'yaml', id: 'yaml', style: 'width:100%;height:12em;', required: 'true'}= lane.yaml.to_yaml
    %input{type: 'submit', value: 'Save'}

%form.hidden{method: 'POST', action: '/add-letter', id: 'add'}
  %input{type: 'hidden', name: 'id', value: lane.id}
  %input{type: 'text', id: 'title', name: 'title', placeholder: 'Letter title', size: 40, required: 'true', autocomplete: 'off'}
  %input{type: 'submit', value: 'Add Letter'}

%p
  Delivered
  = lane.deliveries_count
  emails.

%p
  There are
  = lane.letters.count
  letter(s),
  the highest in the list will be delivered first:

- lane.letters.all.each do |r|
  %p
    = succeed ':' do
      %a{href: "/letter?id=#{r.id}"}= "##{r.id}"
    %span{class: ('cross' unless r.active?)}
      &= r.title
    %br
    %span.item.small= '%+d' % r.place
    %a.item.small{href: "/letter-up?id=#{r.id}"} Up
    %a.item.small{href: "/letter-down?id=#{r.id}"} Down

