%h2
  Letter
  = "##{letter.id}:"
  = letter.title

%p
  %a.item{onclick: '$("#save").show();'}
    Edit YAML and Liquid
  %a.item{onclick: '$("#test").show();'}
    Test Email

%p
  It belongs to the lane
  - lane = letter.lane
  = succeed ':' do
    %a{href: "/lane?id=#{lane.id}"}= "##{lane.id}"
  = "\"#{lane.title}\""

%p
  It is
  %strong
    - if letter.active?
      %span.green active
    - else
      %span.red not active
  = '/'
  %a{href: "/toggle-letter?id=#{letter.id}"}
    - if letter.active?
      deactivate
    - else
      activate

%p
  Delivered
  = letter.deliveries_count
  times.

%form.hidden{method: 'POST', action: '/save-letter', id: 'save'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: letter.id}
    %label
      %a{href: 'https://github.com/yegor256/mailanes#letter'} YAML
      config:
    %textarea{name: 'yaml', style: 'width:100%;height:12em;', required: 'true'}= letter.yaml.to_yaml
    %label Liquid email template:
    %textarea{name: 'liquid', style: 'width:100%;height:16em;', required: 'true'}= letter.liquid
    %input{type: 'submit', value: 'Save'}

%form.hidden{method: 'POST', action: '/test-letter', id: 'test'}
  %input{type: 'hidden', name: 'id', value: letter.id}
  %select{name: 'list'}
    - lists.all.each do |list|
      %option{value: list.id}= "##{list.id}: #{list.title}"
  %input{type: 'submit', value: 'Test'}
  %label.small.gray
    The email will be sent to a random recipient from the given list.
