%h2
  Lists
  = succeed ':' do
    = "##{list.id}"
  &= list.title

- if list.stop?
  %p.red
    This is the
    %strong STOP
    list! Its recipients will never receive any letters from you.

%p
  %a.item{onclick: '$("#save").show();'} Edit YAML
  %a.item{onclick: '$("#add").show();$("#email").focus();'} Add Recipient
  %a.item{onclick: '$("#find").show();$("#query").focus();'} Find Recipient
  %a.item{onclick: '$("#upload").show();'} Upload CSV
  %a.item{onclick: '$("#absorb").show();'} Absorb
  %a.item{href: "/download-recipients?id=#{list.id}"} Download CSV

%form.hidden{method: 'POST', action: '/save-list', id: 'save'}
  %fieldset
    %input{type: 'hidden', name: 'id', value: list.id}
    %label
      %a{href: 'https://github.com/yegor256/mailanes#list'} YAML
      config:
    %textarea{name: 'yaml', style: 'width:100%;height:12em;', required: 'true'}= list.yaml.to_yaml
    %input{type: 'submit', value: 'Save'}

%form.hidden{method: 'POST', action: '/add-recipient', id: 'add'}
  %input{type: 'hidden', name: 'id', value: list.id}
  %input{type: 'text', name: 'email', id: 'email', placeholder: 'Email', size: 20, required: 'true', autocomplete: 'off'}
  %input{type: 'text', name: 'first', placeholder: 'First name', size: 14, autocomplete: 'off'}
  %input{type: 'text', name: 'last', placeholder: 'Last name', size: 16, autocomplete: 'off'}
  %input{type: 'submit', value: 'Add Recipient'}

%form.hidden{method: 'GET', action: '/list', id: 'find'}
  %input{type: 'hidden', name: 'id', value: list.id}
  %input{type: 'text', name: 'query', id: 'query', placeholder: 'Email or name to find...', size: 32, required: 'true', autocomplete: 'off', value: (params[:query] || nil)}
  %input{type: 'submit', value: 'Find'}
  %label.small.gray Start with '=' if you are looking for an exact match.

%form.hidden{method: 'POST', action: '/absorb', id: 'absorb'}
  %input{type: 'hidden', name: 'id', value: list.id}
  %select{name: 'list'}
    - lists.all.each do |list|
      %option{value: list.id}= "##{list.id}: #{list.title}"
  %input{type: 'checkbox', name: 'dry', value: 'dry'}
  %label Dry run
  %input{type: 'submit', value: 'Absorb'}
  %label.small.gray
    All emails from the selected list, which also exist in the
    current list, will migrate here. Only the duplicates will move.
    All other recipients will stay untouched.

%form.hidden{method: 'POST', action: '/upload-recipients', id: 'upload', enctype: 'multipart/form-data'}
  %input{type: 'hidden', name: 'id', value: list.id}
  %input{name: 'file', type: 'file', accept: 'text/plain'}
  %input{type: 'submit', value: 'Upload'}
  %br
  %label.small.gray
    Make sure it's a headerless CSV file,
    with an email in the first column,
    first name in the second,
    and the last name in the third one.
    The forth column may contain a semi-colon separated list of deliveries, which
    we will create right after adding the recipient,
    for example "3/88" (campaign ID, letter ID).

%p
  Created:
  = list.created.utc.iso8601
  = "(#{Ago.new(list.created)})"

%p
  It grows by
  = list.recipients.per_day(10)
  per day (last 10 days statistics).

%p
  Participates in:
  - list.campaigns.each do |c|
    = succeed ':' do
      %a{href: "/campaign?id=#{c.id}"}= "C##{c.id}"
      = '/'
      %a{href: "/lane?id=#{c.lane.id}"}= "L##{c.lane.id}"
    &= "\"#{c.lane.title}\""

- abs = list.absorb_counts
- if !abs.empty?
  %p
    There are
    %span.red
      = abs.map { |a| a[:total] }.inject(&:+)
      duplicates
    in the following lists:
  %ul
    - abs.each do |a|
      %li
        %span.red= a[:total]
        in
        %a{href: "/list?id=#{a[:list].id}"}= "##{a[:list].id}"
        &= a[:list].title


%p
  Delivered
  = list.deliveries_count
  emails.
  Bounce rate:
  - rate = list.recipients.bounce_rate
  = succeed '.' do
    %span{class: (rate > 0.05 ? 'red' : '')}
      = "#{(rate * 100).round(2)}%"

%p
  There are
  - total = list.recipients.count
  = total
  recipient(s),
  - active = list.recipients.active_count
  = active
  = "(#{total.zero? ? 0 : 100 * active / total}%)"
  are active:

%p
  - list.recipients.all(query: params[:query] || '').each do |r|
    %span{class: ('cross' unless r.active?)}
      %a{href: "/recipient?id=#{r.id}"}= r.email
