%h2
  Lists

%p
  %a.item{onclick: '$("#add").show();$("#email").focus();'} Add List
  %a.item{onclick: '$("#find").show();$("#query").focus();'} Find Recipient

%form.hidden{method: 'POST', action: '/add-list', id: 'add'}
  %input{type: 'text', name: 'title', placeholder: 'List title...', size: 45, required: 'true', autocomplete: 'off'}
  %input{type: 'submit', value: 'Add'}

%form.hidden{method: 'POST', action: '/find-recipient', id: 'find'}
  %input{type: 'text', name: 'query', placeholder: 'Query', id: 'query', size: 45, required: 'true', autocomplete: 'off'}
  %input{type: 'submit', value: 'Find'}

- if !found.nil?
  %p
    Found
    = found.count
    recipients by
    = "\"#{params[:query]}\":"
  %ul
    - found.each do |r|
      - list = r.list
      %li
        %a{href: "/recipient?id=#{r.id}"}= r.email
        in
        = succeed ':' do
          %a{href: url("/list?id=#{list.id}")}= "List ##{list.id}"
        &= "\"#{list.title}\""

%p
  All your lists:

- lists.all.each do |list|
  %p
    = succeed ':' do
      %a{href: url("/list?id=#{list.id}")}= "##{list.id}"
    = list.title
    = "(#{list.recipients.count} recipients)"
    - if list.stop?
      %strong.red STOP

