%h2
  Pipeline of Campaign
  = succeed ':' do
    = "##{campaign.id}"
  &= campaign.title

%p
  There are
  = campaign.pipeline_count
  recipient(s) in the pipeline:

- campaign.pipeline.each do |r|
  %p
    %a{href: "/recipient?id=#{r['rid']}"}= r['email']
    with letter
    %a{href: "/letter?id=#{r['lid']}"}= "##{r['lid']}"
