%h2
  Recipient
  = succeed ':' do
    = "##{recipient.id}"

%p
  It is
  %strong
    - if recipient.active?
      %span.green active
    - else
      %span.red not active
  = '/'
  %a{href: "/toggle-recipient?list=#{list.id}&id=#{recipient.id}"}
    - if recipient.active?
      deactivate
    - else
      activate

%p
  = succeed ':' do
    %a{href: "/list?id=#{list.id}"}= "List ##{list.id}"
  &= "\"#{list.title}\""
  - if current_user != list.owner
    = "(owned by @#{current_user})"

%p
  Email:
  %code
    = recipient.email
  %a.item{onclick: '$("#change").show();$("email").focus();'} Change

%form.hidden{method: 'POST', action: '/change-email', id: 'change'}
  %input{type: 'hidden', name: 'list', value: list.id}
  %input{type: 'hidden', name: 'id', value: recipient.id}
  %input{type: 'email', name: 'email', size: 50, required: 'true', value: recipient.email}
  %input{type: 'submit', value: 'Change'}

- if !recipient.first.empty?
  %p
    First:
    &= recipient.first

- if !recipient.last.empty?
  %p
    Last:
    &= recipient.last

%p
  Created:
  = recipient.created.utc.iso8601
  = "(#{Ago.new(recipient.created)})"

- if !recipient.source.empty?
  %p
    Source:
    &= recipient.source

- relax = recipient.relax
- if !relax.zero?
  %p
    Relax:
    = relax
    days.

- if !recipient.yaml.to_a.empty?
  %pre
    &= recipient.yaml.to_yaml

%form{method: 'POST', action: '/comment-recipient'}
  %input{type: 'hidden', name: 'list', value: list.id}
  %input{type: 'hidden', name: 'id', value: recipient.id}
  %input{type: 'text', name: 'comment', placeholder: 'What just happened?...', size: 50, required: 'true', autocomplete: 'off'}
  %input{type: 'submit', value: 'Comment'}

- if !targets.empty? && list.owner == current_user
  %form{method: 'POST', action: '/move-recipient'}
    %input{type: 'hidden', name: 'list', value: list.id}
    %input{type: 'hidden', name: 'id', value: recipient.id}
    %select{name: 'target'}
      - targets.each do |t|
        %option{value: t.id}
          &= "##{t.id}: #{t.title}"
    %input{type: 'submit', value: 'Move'}

- deliveries = recipient.deliveries
- if deliveries.empty?
  %p
    No delivery reports as of yet.
- else
  - deliveries.each do |d|
    %p
      - unless d.opened.empty?
        %span{title: d.opened}= '💌 '
      %a{href: "/delivery?id=#{d.id}"}= "##{d.id}"
      = '/'
      = d.created.utc.iso8601
      = "(#{Ago.new(d.created)})"
      - if d.letter?
        with letter
        %a{href: "/letter?id=#{d.letter.id}"}= "##{d.letter.id}"
      - if d.campaign?
        in campaign
        %a{href: "/campaign?id=#{d.campaign.id}"}= "##{d.campaign.id}"
      = d.relax ? "(relax is #{d.relax})" : ''
      = ':'
      &= d.details.empty? ? 'WAITING' : d.details

%p
  %a.red{href: "/delete-recipient?list=#{list.id}&id=#{recipient.id}", onclick: "return confirm('Are you sure?');"} Delete
