-# SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Recipient
  = succeed ':' do
    = "##{recipient.id}"

%p
  It is
  %strong
    - if recipient.active?
      %span.green active
    - else
      %span.red not active
  = '/'
  %a{ href: iri.cut('/toggle-recipient').add(list: list.id, id: recipient.id) }
    - if recipient.active?
      deactivate
    - else
      activate

- if recipient.bounced?
  %p.red
    It was bounced at least once!

%p
  = succeed ':' do
    %a{ href: iri.cut('/list').add(id: list.id) }= "List ##{list.id}"
  &= "\"#{list.title}\""
  = "(owned by @#{current_user})" unless current_user == list.owner

%p
  Email:
  %code
    = recipient.email
  %a.item{ onclick: '$("#change").show();$("email").focus();' } Change

%form.hidden{ method: 'POST', action: iri.cut('/change-email'), id: 'change' }
  %input{ type: 'hidden', name: 'list', value: list.id }
  %input{ type: 'hidden', name: 'id', value: recipient.id }
  %input{ type: 'email', name: 'email', size: 50, required: 'true', value: recipient.email }
  %input{ type: 'submit', value: 'Change' }

- unless recipient.first.empty?
  %p
    First:
    &= recipient.first

- unless recipient.last.empty?
  %p
    Last:
    &= recipient.last

%p
  Created:
  = recipient.created.utc.iso8601
  = "(#{Ago.new(recipient.created)})"

- unless recipient.source.empty?
  %p
    Source:
    &= recipient.source

- relax = recipient.relax
- unless relax.zero?
  %p
    Relax:
    = relax
    days.

- unless recipient.yaml.to_a.empty?
  %pre
    &= recipient.yaml.to_yaml

%form{ method: 'POST', action: iri.cut('/comment-recipient') }
  %input{ type: 'hidden', name: 'list', value: list.id }
  %input{ type: 'hidden', name: 'id', value: recipient.id }
  %input{ type: 'text', name: 'comment', placeholder: 'What just happened?...', size: 50, required: 'true', autocomplete: 'off' }
  %input{ type: 'submit', value: 'Comment' }

- unless targets.empty? && list.owner == current_user
  %form{ method: 'POST', action: iri.cut('/move-recipient') }
    %input{ type: 'hidden', name: 'list', value: list.id }
    %input{ type: 'hidden', name: 'id', value: recipient.id }
    %select{ name: 'target' }
      - targets.each do |t|
        %option{ value: t.id }
          &= "##{t.id}: #{t.title}"
    %input{ type: 'submit', value: 'Move' }

- deliveries = recipient.deliveries
- if deliveries.empty?
  %p
    No delivery reports as of yet.
- else
  - deliveries.each do |d|
    %p
      - if d.bounced?
        %span= '👎 '
      - unless d.opened.empty?
        %span{ title: d.opened }= '💌 '
      %a{ href: iri.cut('/delivery').add(id: d.id) }= "##{d.id}"
      = '/'
      = d.created.utc.iso8601
      = "(#{Ago.new(d.created)})"
      - if d.letter?
        with letter
        %a{ href: iri.cut('/letter').add(id: d.letter.id) }= "##{d.letter.id}"
      - if d.campaign?
        in campaign
        %a{ href: iri.cut('/campaign').add(id: d.campaign.id) }= "##{d.campaign.id}"
      = d.relax ? "(relax is #{d.relax})" : ''
      = ':'
      &= d.details.empty? ? 'WAITING' : d.details
      %br
      %a.small.red{ href: iri.cut('/delete-delivery').add(id: d.id), onclick: "return confirm('Are you sure?');" } Delete

%p
  %a.red{ href: iri.cut('/delete-recipient').add(list: list.id, id: recipient.id), onclick: "return confirm('Are you sure?');" } Delete
