- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  Unsubscribed!

%p
  Your email
  %code
    = email
  has been removed from the list.

%p
  We are sorry to see you leaving.

- if defined? user
  - if current_user == list.owner || list.friend?(current_user)
    %p
      It was recipient
      %a{ href: iri.cut('/recipient').add(id: recipient.id) }
        = "##{recipient.id}"
      from the list
      = succeed ':' do
        %a{ href: iri.cut('/list').add(id: list.id) }= "##{list.id}"
      &= "\"#{list.title}\"."

  - if current_user == list.owner
    %p
      Add this email to all block lists?
      %a{ href: iri.cut('/block-recipient').add(id: recipient.id, list: list.id) } Yes!
