%h2
  Weekly

%p
  This is your weekly contribution to the
  = succeed ':' do
    %a{href: "/add?list=#{list.id}"}= "List ##{list.id}"
  = list.title

%table
  %thead
    %tr
      %th Week
      %th Added
      %th Bounced
      %th Valid
  %tbody
  - weeks.each do |w|
    %tr
      %td= w[:week]
      %td{style: 'text-align:right'}= sprintf('%+d', w[:total])
      %td{style: 'text-align:right'}= sprintf('%+d', w[:bad])
      %td{style: 'text-align:right'}= sprintf('%+d', w[:total] - w[:bad])

