- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  Weekly

%p
  This is weekly contribution of
  %code= source
  to the
  = succeed ':' do
    %a{ href: iri.cut('/add').add(list: list.id) }= "List ##{list.id}"
  = list.title

%p
  Total:
  %strong= list.recipients.count_by_source(source)

%table
  %thead
    %tr
      %th Week
      %th Added
      %th Bounced
      %th Valid
  %tbody
  - weeks.each do |w|
    %tr
      %td= w[:week]
      %td{ style: 'text-align:right' }= format('%+d', w[:total])
      %td{ style: 'text-align:right' }= format('%+d', w[:bad])
      %td{ style: 'text-align:right' }= format('%+d', w[:total] - w[:bad])
